<!doctype html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="../static/css/index.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<title>Sign up Page</title>
		
	</head>
		
	<body class="container-contact100">
		
			<button onclick="window.location.href='/search'"> Home</button>
			<button onclick="window.location.href='/login'"/> Login</button>
			<button onclick="window.location.href='/adduser'"style='background-color: red'> Sign Up</button>
			<button onclick="window.location.href='/verify'"> Verify</button>
	
		<form  > 
					
					<div class="col-md-12 ">
						
						<form >
							<div class="wrap-input100 validate-input" data-validate="Username">
								<input type="text" class="input100" placeholder="Username" value="" name='username' id='username'/>
							</div>
							<div class="wrap-input100 validate-input" data-validate="Email">
								<input type="text" class="input100" placeholder="Email" value="" name='email'id='email'/>
							</div>
							<div class="wrap-input100 validate-input" data-validate="Password">
								<input type="password" class="input100" placeholder="Password" value="" name='password' id='password'/>
							</div>
							<div class="form-group">
								<input type="submit" class="btnSubmit" value="Sign up" id="adduser"/>
							</div>
							<!-- <div class="form-group">
								<a href="#" class="ForgetPwd">Forget Password?</a>
							</div> -->
						</form>
					</div>
			
		</form>
		<script>
				$(document).ready(function(){
					$("#adduser").click( 
					function(e) {
						data =  {   'username': $('#username').val(),
									'email': $('#email').val(),
									'password': $("#password").val()
								}
						$.ajax({
							url: '/adduser',
							type: 'POST',
							contentType:"application/json",
							dataType:"json",
							data: JSON.stringify(data),
							success: function (data){
								window.location.href='/verify'
							},
							error: function(err){
								alert("Sign Up Error " + err)
							}
						})
					})

					$(document).on("contextmenu",function(){
                return false;
                }); 
                

                $(document).bind('keydown', function(e) {
                    if(e.ctrlKey && (e.which == 80)) {
                    e.preventDefault();
                    return false;
                    }
                });


                $(document).bind('keydown', function(e) {
                    if(e.ctrlKey && (e.which == 83)) {
                    e.preventDefault();
                    return false;
                    }
                })
					 document.onkeydown = function(e) {
                    if(event.keyCode == 123) {
                    return false;
                    }
                    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
                    return false;
                    }
                    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
                    return false;
                    }
                    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
                    return false;
                    }
                }

				});
			</script>
	</body>	
</html> 

